{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %} 產品管理 {% endblock title %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'No permission' %}
  
<script language="javascript">

  alert('您沒有使用者的權限喔！');

</script>


{% endif %}
{% endwith %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'failed' %}
  
<script language="javascript">

  alert('有使用者有使用到這筆資料，所以不能刪除');

</script>

{% endif %}
{% endwith %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'duplicated production name' %}
  
<script language="javascript">

  alert('已有此產品名稱，無法新增同樣的產品');

</script>

{% endif %}
{% endwith %}

<script>
    $(document).ready(function(){
        $("#keyword").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#product tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
&nbsp;
&nbsp;
<div class="d-flex justify-content-between container-xxl">
    <div class="d-flex col-sm-4">
        <span class="input-group-text" id="basic-addon1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
        <input class="form-control me-2" id="keyword" placeholder="搜尋商品" aria-label="Search">
    </div>
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        新增商品
    </button>
</div>

<form method="post" enctype=multipart/form-data action={{ url_for('manager.Productionadd') }}>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">新增產品</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inputProductName" class="form-label">產品名稱</label>
                        <input type="text" class="form-control" id="inputProductName" name="Productionname" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputVendor" class="form-label">需求廠商</label>
                        <input type="text" class="form-control" id="inputVendor" name="Vendor" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputProductCategory" class="form-label">生產使用料件</label>
                        <select id="inputProductCategory" class="form-select" name="Device" required>
                            <option selected disabled value="">請選擇料件</option>
                            <option value="IphoneDevice">蘋果手機零件</option>
                            <option value="AndroidDevice">安卓手機零件</option>
                            <option value="RouterDevice">路由器零件</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success">確定新增</button>
                </div>
            </div>
        </div>
    </div>
</form>

<br/>

<div class="container-xxl">

<form method='post' action={{ url_for('manager.P1_Production') }} >
<table id="manager" class="table table-bordered">
    <thead>
        <tr>
            <th width="10%"><center>產品編號</center></th>
            <th width="20%"><center>產品名稱</center></th>
            <th width="15%"><center>需求廠商</center></th>
            <th width="15%"><center>生產使用料件</center></th>
            <th colspan="2"><center>資料操作</center></th>
        </tr>
    </thead>
    <tbody id="product">
    {% for i in P1_Production_data %}
        <tr>
            <td><center>{{ i.產品編號 }}</center></td>
            <td><center>{{ i.產品名稱 }}</center></td>
            <td><center>{{ i.需求廠商 }}</center></td>
            <td><center>{{ i.料號 }}</center></td>
            <td><center><button type="submit" value="{{i.產品編號}}" name="edit" class="btn btn-success">編輯產品</button></center></td>
            <td><center><button type="submit" value="{{i.產品編號}}" name="delete" onclick="return (confirm('你確定要刪除 \'{{ i.產品名稱 }}\' 嗎？'))" class="btn btn-danger">刪除產品</button></center></td>
        </tr>
    {% endfor %}
    </tbody>
    
</table>
</form>


</div>

<script>
    function have_product(){
      alert('有使用者有使用到這筆資料，所以不能刪除');
    }
</script>

{% endblock content %}